.button {
	font: inherit;
	border: 1px solid #d6336c;
	background: #d6336c;
	color: white;
	padding: 0.25rem 1rem;
	cursor: pointer;
}

.button:hover,
.button:active {
	background: #e64980;
	border-color: #e64980;
}

.button:focus {
	outline: none;
}
